//colores
$light-blue: #8fc4be;
$white: white;
$body-color: #f5f1e6;
$detail-color: #e3decd;

//font
$main-font: 'Comfortaa';
$body-font-size: 16px;
$body-font-size-responsive:10px;
$font-size-xxlarge: xx-large;

//responsive design
$break-small: 320px;
$break-small-large: 414px;
//ipad
$break-large: 768px;
