@import 'variables','functions','mixins','reset';
body{
  background-color: $body-color;
}
.header{
  background-color: $light-blue;
  width: 100%;
  height:em(114px,$body-font-size);
  font-family:$main-font;
  color: $white;
}
.wrapper-header{
  padding-left: em(100px,$body-font-size);
  display: flex;
  flex-wrap: wrap;
  padding-top:em(45px,$body-font-size);
  @media screen and (max-width: $break-large) {
    font-size: $body-font-size-responsive;
    justify-content:center;
  }

  @media screen and (max-width: $break-small-large) {
    font-size: $body-font-size-responsive;
    justify-content:center;
  }
}
.w-titles{
  display: flex;
  margin-left: 11%;
}
#main-title{
  font-size: $font-size-xxlarge;
}
#second-title{
  padding-top: em(15px,$body-font-size);
  padding-left: em(5px,$body-font-size);

  @media screen and (max-width: $break-small) {
    padding-top: 2.13em;
  }
}
#navbar{
  padding-top: em(15px,$body-font-size);
  margin-left: 38%;

  @media screen and (max-width: $break-small-large) {
    font-size: $body-font-size-responsive;
    padding-top: 0px;
    padding-left: 0px;
    margin-right: em(75px,$body-font-size);
    margin-top: em(15px,$body-font-size);
  }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a{
  color: $white;
  text-decoration: none;
}
a:hover{
  color: #E0E4CC;
}
.wrapper{
  max-width: 55.688em;
  margin: 0 auto;
  margin-top: 3.625em;
  margin-bottom: 3.625em;
}
.content{
  background-color: $white;
  @include  solid-border();
}
h1{
  color: $light-blue;
  font-family:$main-font;
  text-align: center;
}
#first-bx, #second-bx, #third-bx, #fourth-bx{
  font-family: $main-font;
  font-size: em($body-font-size,$body-font-size);
}
#first-bx{
  height:em(100px,$body-font-size);
}
#second-bx{
  height:em(70px,$body-font-size);
}
#third-bx{
  height:em(120px,$body-font-size);
}
#fourth-bx{
  height:em(120px,$body-font-size);
}

.footer{
  width: 100%;
  height: 114px;
  font-family: $main-font;
  background-color: $green-color;
  color: $white;
  display: inline-table;
}

#copyright{
  float: left;
  display: -webkit-inline-box;
  margin-left: 15%;
  margin-top: em(50px,$body-font-size);
}
#ul-footer{
  float: right;
  margin-top: em(50px,$body-font-size);
  margin-right:  15%;
}
input,textarea {
  display: block;
  margin: 0;
  width: 90%;
  font-family: $main-font;
  font-size: $body-font-size;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.left-row{
  width: 50%;
  float: left;
  margin-left:em(8px,$body-font-size);
}
.right-row{
  width: 48%;
  float: right;
}
.bottom-row{
  margin-left:em(8px,$body-font-size);
  padding-top: em(245px,$body-font-size);
  padding-bottom: em(30px,$body-font-size);;
}

label{
  font-family: $main-font;
  font-size: $body-font-size;
}
.space-between{
  height: 2em;
}
button{
  background: $green-color;
  font-size: 1em;
  float: right;
  margin-top: 1em;
  padding: 10px 36px;
  color:$white;
  border: none;
  font-family: $main-font;
}
